certifi==2019.3.9
chardet==3.0.4
choke==0.1.1
Click==7.0
decorator==4.4.0
dimod==0.7.9
dwave-cloud-client==0.4.16
dwave-networkx==0.6.9
dwave-qbsolv==0.2.9
dwave-system==0.5.1
falcon==1.4.1
geographiclib==1.49
geopy==1.18.1
gunicorn==19.9.0
homebase==1.0.1
idna==2.8
jsonschema==2.6.0
minorminer==0.1.8
networkx==2.2
numpy==1.16.2
psutil==5.6.1
PySocks==1.6.8
python-dateutil==2.8.0
python-mimeparse==1.6.0
redis==3.2.1
requests==2.21.0
six==1.12.0
urllib3==1.24.2