.Marker {
    background: black;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.MarkerIcon {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.Marker.isSelected {
    background: #ff8304;
}
