.container {
    height: 100%;
    width: 100%;
}

.Column {
    padding: 0 100px;
    height: calc(100vh);
}

.MapsBox {
    padding-top: 100px;
    height: calc(100vh - 200px);
}

.ButtonContainer {
    float: right;
    padding-top: 10px;
}
